@import "kouto-swiss"

normalize();
box-sizing-reset();

$sans_serif = Verdana, Helvetica, Arial, sans-serif;
$serif = Baskerville, Cochin, Georgia, Times, Times New Roman, serif;
$base_font = $sans_serif;

body {
  background: #000;
  color: #fff;
  font-family: $base_font;
  font-size: 18px;
  line-height: 22px;
}

#player {
  display: block;
  margin: 44px auto;
}