body {
  background: #162a33;
  color: #303f9f;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alfa Slab One';
}
.film-card-wrapper {
  position: relative;
}
.film-card-wrapper img {
  width: 150px;
  float: left;
  box-shadow: 0 0 22px rgba(0,0,0,0.5);
  margin: 11px 22px 11px 0;
}
.film-card-disc {
  margin: 11px 22px 0 0;
  color: #fff;
  font-size: 14px;
}
.create-room-link {
  margin-top: 7px;
}
.film-card-wrapper h4 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}
.addToFavorite {
  position: absolute;
  top: 0;
  left: -11px;
  color: #ff0;
  text-decoration: none;
}
.addToFavorite:hover {
  color: #db600e;
  text-decoration: none;
}
.addToFavorite:visited {
  color: #ff0;
}
.row {
  margin-bottom: 22px;
}
#header {
  padding-top: 22px;
  margin-bottom: 22px;
  border-bottom: 2px solid #c5c195;
}
.film-card-wrapper h4 {
  color: #fff;
}
#logo {
  position: relative;
  top: -5px;
  margin-right: 11px;
}
#outer-wrapper {
  width: 960px;
  margin: 0 auto;
}
#outer-wrapper #video-wrapper {
  float: left;
  width: 640px;
  height: 360px;
}
#outer-wrapper #video-wrapper #video-meta {
  padding: 0 7px 11px 7px;
}
#outer-wrapper #video-wrapper #video-meta #video-meta-title {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Alfa Slab One';
  color: #fff;
}
#outer-wrapper #video-wrapper #video {
  display: block;
  width: 100%;
}
#outer-wrapper #chat-wrapper {
  width: 100%;
  padding-left: 662px;
}
#outer-wrapper #chat-wrapper #chat-meta {
  margin-bottom: 11px;
  padding: 0 7px 11px 7px;
  border-bottom: 1px solid #727272;
  color: #999;
}
#outer-wrapper #chat-wrapper #chat-meta #chat-meta-username {
  font-weight: 700;
}
#outer-wrapper #chat-wrapper #chat {
  height: 307px;
  margin: 0 0 11px 0;
  padding: 0 13px 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none outside;
}
#outer-wrapper #chat-wrapper #chat .chat-message-wrapper {
  margin-bottom: 5px;
}
#outer-wrapper #chat-wrapper #chat .chat-message-wrapper:last-child {
  margin-bottom: 0;
}
#outer-wrapper #chat-wrapper #chat .chat-message-wrapper .chat-message {
  display: inline-block;
  background: rgba(0,0,0,0.5);
  color: #bbb;
  border-radius: 7px;
  padding: 3px 5px 0 5px;
  font-size: 14px;
  word-break: break-all;
  max-width: 90%;
}
#outer-wrapper #chat-wrapper #chat .chat-message-wrapper .chat-message-time,
#outer-wrapper #chat-wrapper #chat .chat-message-wrapper .chat-message-username {
  color: #666;
  font-size: 10px;
}
#outer-wrapper #chat-wrapper #chat .chat-message-wrapper .chat-message-username {
  margin-right: 5px;
}
#outer-wrapper #chat-wrapper #chat .chat-message-self .chat-message {
  float: right;
}
#outer-wrapper #chat-wrapper #chat .chat-message-self .chat-message .chat-message-time {
  text-align: right;
}
#outer-wrapper #chat-wrapper #chat .chat-message-event {
  text-align: center;
  margin-bottom: 0;
}
#outer-wrapper #chat-wrapper #chat .chat-message-event .chat-message {
  padding: 0;
  background: transparent;
  color: #666;
  font-size: 12px;
}
#outer-wrapper #chat-wrapper #chat .chat-message-event .chat-message .chat-message-time {
  text-align: center;
}
#outer-wrapper #chat-wrapper #chat-compose-message-wrapper {
  height: 30px;
}
#outer-wrapper #chat-wrapper #chat-compose-message-wrapper #chat-compose-message-textarea {
  display: block;
  float: left;
  width: 268px;
  height: 100%;
  margin: 0;
  padding: 0 7px;
  border: 0;
  background: #ddd;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  line-height: 30px;
  color: #333;
  resize: none;
}
#outer-wrapper #chat-wrapper #chat-compose-message-wrapper #chat-compose-message-submit {
  display: block;
  float: right;
  width: 30px;
  height: 100%;
  border: 0;
  background: #ccc;
  border-radius: 0 3px 3px 0;
  color: #333;
  font-size: 14px;
  line-height: 30px;
}
#outer-wrapper #chat-wrapper #chat-compose-message-wrapper #chat-compose-message-submit:hover {
  background: #bbb;
  color: #000;
}
h1 {
  font-size: 33px;
  font-weight: 700;
  line-height: 33px;
  margin: 0;
  padding: 0;
  color: #fff !important;
}
h1 a {
  color: #fff;
  text-decoration: none !important;
}
h1 a:hover {
  color: #5bc0de;
}
#myDropzone {
  display: inline-block;
  background: #ffeb3b;
  color: #333;
  border-radius: 3px;
  padding: 7px;
  margin-top: 7px;
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
}
#myDropzone > * {
  display: none;
}
#myDropzone .dz-message {
  display: inline;
}
