<div id="video-wrapper">
  <div id="video-meta">
    <span id="video-meta-title">Кролик (короткометражка)</span>
  </div>
  <video id="video" controls>
    <source src="/files/video/big_buck_bunny.mp4" type="video/mp4" />
  </video>
</div>

<div id="chat-wrapper">
  <div id="chat-meta">
    <span id="chat-meta-username-wrapper">Чат с <span id="chat-meta-username">Машей</span></span>
  </div>

  <ol id="chat" class="clearfix">
    <li class="chat-message-wrapper chat-message-opponent clearfix">
      <div class="chat-message">Сообщение 1</div>
    </li>
    <li class="chat-message-wrapper chat-message-self clearfix">
      <div class="chat-message">Сообщение 2</div>
    </li>
    <li class="chat-message-wrapper chat-message-opponent clearfix">
      <div class="chat-message">Сообщение 1</div>
    </li>
    <li class="chat-message-wrapper chat-message-self clearfix">
      <div class="chat-message">Сообщение 2</div>
    </li>
    <li class="chat-message-wrapper chat-message-opponent clearfix">
      <div class="chat-message">Сообщение 1</div>
    </li>
    <li class="chat-message-wrapper chat-message-self clearfix">
      <div class="chat-message">Сообщение 2</div>
    </li>
    <li class="chat-message-wrapper chat-message-opponent clearfix">
      <div class="chat-message">Сообщение 1</div>
    </li>
    <li class="chat-message-wrapper chat-message-self clearfix">
      <div class="chat-message">Сообщение 2</div>
    </li>
    <li class="chat-message-wrapper chat-message-opponent clearfix">
      <div class="chat-message">Сообщение 1</div>
    </li>
    <li class="chat-message-wrapper chat-message-self clearfix">
      <div class="chat-message">Сообщение 2</div>
    </li>
    <li class="chat-message-wrapper chat-message-opponent clearfix">
      <div class="chat-message">Сообщение 1</div>
    </li>
    <li class="chat-message-wrapper chat-message-self clearfix">
      <div class="chat-message">Сообщение 2</div>
    </li>
    <li class="chat-message-wrapper chat-message-opponent clearfix">
      <div class="chat-message">Сообщение 1</div>
    </li>
    <li class="chat-message-wrapper chat-message-self clearfix">
      <div class="chat-message">Сообщение 2</div>
    </li>
    <li class="chat-message-wrapper chat-message-opponent clearfix">
      <div class="chat-message">Сообщение 1</div>
    </li>
    <li class="chat-message-wrapper chat-message-self clearfix">
      <div class="chat-message">Сообщение 2</div>
    </li>
    <li class="chat-message-wrapper chat-message-opponent clearfix">
      <div class="chat-message">Сообщение 1</div>
    </li>
    <li class="chat-message-wrapper chat-message-self clearfix">
      <div class="chat-message">Сообщение 2</div>
    </li>
    <li class="chat-message-wrapper chat-message-opponent clearfix">
      <div class="chat-message">Сообщение 1</div>
    </li>
    <li class="chat-message-wrapper chat-message-self clearfix">
      <div class="chat-message">Сообщение 2</div>
    </li>
    <li class="chat-message-wrapper chat-message-opponent clearfix">
      <div class="chat-message">Сообщение 1</div>
    </li>
    <li class="chat-message-wrapper chat-message-self clearfix">
      <div class="chat-message">Сообщение 2</div>
    </li>
  </ol>

  <div id="chat-compose-message-wrapper">
    <textarea id="chat-compose-message-textarea" placeholder="Сообщение"></textarea>
    <button type="button" id="chat-compose-message-submit">
      <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
    </button>
  </div>
</div>

