<div class="row">
  <div class="film-card-wrapper col-md-6 form-inline">
    <h4>Big Buck Bunny <a href="#" class="addToFavorite">&#9733;</a> </h4> 
    <img src="/files/posters/bunny.jpg">
    <div class="film-card-disc">История о большом белом кролике, доброта которого больше чем он сам. В один солнечный день три грызуна начали издеваться над Баком…. и он понял: «С меня хватит!». Он приготовил ироничную месть для подлых грызунов…
    <div></div>
    <a href="/room/1" data-video-title="Big Buck Bunny" data-video-url="big_buck_bunny.mp4" class="btn btn-info create-room-link">Создать комнату</a>
    </div>
  </div>

  <div class="film-card-wrapper col-md-6 form-inline">
    <h4>Virtual Reality <a href="#" class="addToFavorite">&#9733;</a> </h4>
    <img src="/files/posters/virt.jpg">
    <div class="film-card-disc">Короткометражный научно-фантастический фильм, рассказывает о "темной стороне" дополненной реальности - возможности манипулировать другими людьми, снятый двумя израильскими студентами академии искусств.</div>
    <div></div>
    <a href="/room/2" data-video-title="Virtual Reality" data-video-url="virtual_reality.mp4" class="btn btn-info create-room-link">Создать комнату</a>
  </div>
</div>

<div class="row">
  <div class="film-card-wrapper col-md-6 form-inline">
    <h4>Star Wars: The Force Awakens<a href="#" class="addToFavorite">&#9733;</a> </h4> 
    <img src="/files/posters/starwars.jpg">
    <div class="film-card-disc">Американский фильм режиссёра Джея Джея Абрамса в жанре космической оперы, седьмой эпизод саги «Звёздные войны». Запланирован как продолжение внутренней хронологии серии и является сиквелом фильма «Звёздные войны. Эпизод VI: Возвращение джедая», а также началом третьей трилогии.
    <div></div>
    <a href="/room/1" data-video-title="Star Wars: The Force Awakens" data-video-url="starwars.mp4" class="btn btn-info create-room-link">Создать комнату</a></div>
  </div>

  <div class="film-card-wrapper col-md-6 form-inline">
    <h4>Batman v Superman: Dawn of Justice <a href="#" class="addToFavorite">&#9733;</a> </h4>
    <img src="/files/posters/batman.jpg">
    <div class="film-card-disc">Бэтмен против Супермена: На заре справедливости» — предстоящий американский супергеройский фильм режиссёра Зака Снайдера, основанный на комиксах о Бэтмене, Супермене и Чудо-женщине издательства DC Comics. Мировая премьера запланирована на 25-26 марта 2016 года.
    <div></div>
    <a href="/room/2" data-video-title="Batman v Superman: Dawn of Justice" data-video-url="batman.mp4" class="btn btn-info create-room-link">Создать комнату</a>
  </div>
  </div>
</div>
