<div class="film-card-wrapper form-inline">
  <h4>Название фильма 1</h4>
  <input type="text" class="hidden create-room-username form-control" value="" placeholder="Никнейм">
  <a href="/room/1" class="btn btn-default create-room-link">Войти в комнату</a>
</div>
<hr/>
<div class="film-card-wrapper form-inline">
  <h4>Название фильма 2</h4>
  <input type="text" class="hidden create-room-username form-control" value="" placeholder="Никнейм">
  <a href="/room/2" class="btn btn-default create-room-link">Войти в комнату</a>
</div>
<a href="/" class="btn btn-default upload-film">Загрузить фильм</a>
 